.page {
    padding: 1rem;
}

.center {
    text-align: center;
}

.footer {
    padding: 2rem;
    margin-top: 0;
}

.label {
    margin-bottom: 0px;
}

#dropdown-basic-button {
    margin-bottom: 0px;
}